language: generic

services: [docker]

install:
  - docker run -d -i --name xi-gtk-container -v "$(pwd)":/tmp/xi-gtk -w /tmp/xi-gtk debian:9
  - docker exec xi-gtk-container apt-get -qq update
  - docker exec xi-gtk-container apt-get -qq install build-essential valac meson libgtk-3-dev libjson-glib-dev

script:
  - docker exec xi-gtk-container meson build
  - docker exec xi-gtk-container ninja -C build
